# An√°lise de Churn

## üóÇÔ∏è Descri√ß√£o do Projeto

Este projeto √© uma **An√°lise Descritiva e Diagn√≥stica** de *churn* de clientes de uma empresa de Telecomunica√ß√µes, desenvolvida totalmente em **Python**.

A an√°lise explora o **perfil dos clientes**, seus **gastos mensais**, o **tempo de perman√™ncia** e como o *churn* se distribui considerando **g√™nero** e **status de parceria**.

O objetivo √© identificar **padr√µes e fatores que podem influenciar o cancelamento**, gerando **insights visuais claros** para apoiar estrat√©gias de reten√ß√£o de clientes.

## Importando os pacotes necess√°rios

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

## Dicion√°rio de Vari√°veis

| Vari√°vel           | Descri√ß√£o                                               |
|--------------------|---------------------------------------------------------|
| `customerID`       | Identificador √∫nico do cliente                          |
| `gender`           | G√™nero                                                   |
| `SeniorCitizen`    | Se o cliente √© idoso (0 = n√£o, 1 = sim)                 |
| `Partner`          | Se o cliente tem parceiro(a)                            |
| `Dependents`       | Se o cliente tem dependentes                            |
| `tenure`           | Tempo (em meses) que o cliente est√° na empresa          |
| `PhoneService`     | Se o cliente tem servi√ßo de telefone                    |
| `MultipleLines`    | Se tem v√°rias linhas telef√¥nicas                        |
| `InternetService`  | Tipo de servi√ßo de internet                             |
| `OnlineSecurity`   | Se possui seguran√ßa online                              |
| `OnlineBackup`     | Se possui backup online                                 |
| `DeviceProtection` | Se possui prote√ß√£o para dispositivo                     |
| `TechSupport`      | Se possui suporte t√©cnico                               |
| `StreamingTV`      | Se possui servi√ßo de TV por streaming                   |
| `StreamingMovies`  | Se possui servi√ßo de filmes por streaming               |
| `Contract`         | Tipo de contrato (mensal, 1 ano, 2 anos)                |
| `PaperlessBilling` | Se recebe fatura eletr√¥nica                             |
| `PaymentMethod`    | M√©todo de pagamento                                     |
| `MonthlyCharges`   | Valor mensal cobrado                                    |
| `TotalCharges`     | Valor total cobrado                                     |
| `Churn`            | Se o cliente cancelou (Yes/No)                          |

## Explora√ß√£o Univariada

In [12]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [11]:
# Vis√£o geral dos tipos de dados e valores nulos
exploracao = pd.DataFrame({
    "Tipo": df.dtypes,
    "Nulos": df.isnull().sum(),
    "% Nulos": df.isnull().mean() * 100,
    "Valores √önicos" : df.nunique(),
    "Exemplo de Valores" : df.apply(lambda x: x.unique()[:3])
})
exploracao

,Tipo,Nulos,% Nulos,Valores √önicos,Exemplo de Valores
customerID,object,0,0.0,7043,"[7590-VHVEG, 5575-GNVDE, 3668-QPYBK]"
gender,object,0,0.0,2,"[Female, Male]"
SeniorCitizen,int64,0,0.0,2,"[0, 1]"
Partner,object,0,0.0,2,"[Yes, No]"
Dependents,object,0,0.0,2,"[No, Yes]"
tenure,int64,0,0.0,73,"[1, 34, 2]"
PhoneService,object,0,0.0,2,"[No, Yes]"
MultipleLines,object,0,0.0,3,"[No phone service, No, Yes]"
InternetService,object,0,0.0,3,"[DSL, Fiber optic, No]"
OnlineSecurity,object,0,0.0,3,"[No, Yes, No internet service]"
OnlineBackup,object,0,0.0,3,"[Yes, No, No internet service]"
DeviceProtection,object,0,0.0,3,"[No, Yes, No internet service]"
TechSupport,object,0,0.0,3,"[No, Yes, No internet service]"
StreamingTV,object,0,0.0,3,"[No, Yes, No internet service]"
StreamingMovies,object,0,0.0,3,"[No, Yes, No internet service]"
Contract,object,0,0.0,3,"[Month-to-month, One year, Two year]"
PaperlessBilling,object,0,0.0,2,"[Yes, No]"
PaymentMethod,object,0,0.0,4,"[Electronic check, Mailed check, Bank transfer..."
MonthlyCharges,float64,0,0.0,1585,"[29.85, 56.95, 53.85]"
TotalCharges,object,0,0.0,6531,"[29.85, 1889.5, 108.15]"
Churn,object,0,0.0,2,"[No, Yes]"

No resultado da tabela, podemos ver que n√£o h√° problemas e n√£o ser√£o necess√°rias a√ß√µes para a limpeza de dados
O dataset j√° se encontra pronto para an√°lise

Agora vamos analisar as vari√°veis Univariadas

- gender, SeniorCitizen, Partner, Dependents
- tenure, MonthlyCharges, TotalCharges

#### gender

In [13]:
# An√°lise da coluna 'gender'

coluna = "gender"
df[coluna]

0       Female
1         Male
2         Male
3         Male
4       Female
         ...
7038      Male
7039    Female
7040    Female
7041      Male
7042      Male
Name: gender, Length: 7043, dtype: object